# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# production
build/
dist/

# misc
.DS_Store
*.swp
*.swo

# dotenv environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*
.env.development
.env.test
.env.production

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and editors
.idea/
.vscode/

# Cache
.cache/
.npm/
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn
.yarn-integrity

# Supabase
supabase/.temp/
supabase/.wrangler/
supabase/.wrangler.toml
